
.PatientcardContainer{

    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25),
      10px 10px 10px rgba(179, 182, 28, 0.22);
    background: rgb(230, 160, 233);
    border-radius: 10px;
    display: inline-block;
    height: 400px;
    margin: 15px 45px 15px 45px;
    text-align: center;
    font-size: calc(8px + 2vmin);
    width: 380px;
    padding: 25px 25px 25px 25px;

}

.Healthmessage{
    color: "white";
    borderRadius: "20px";
    backgroundColor: "Purple";
    padding: "6px 14px";

}

    
